@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*======= VARIABLES CSS =======*/
:root {

  /*===== Primary =====*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --title-color: hsl(210, 21%, 25%);
  --button-color: linear-gradient(90deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
  --text-button-color: var(--white);

  /*===== Neutral =====*/
  // --grayish-blue: hsl(233, 8%, 62%);
  --text-color: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /*===== Typography =====*/
  --body-font: 'Public Sans', sans-serif;
  --body-font-size: 18px;

  --h1-font-weight: 700;
  --h2-font-weight: 400;
  --h3-font-weight: 300;
}

/*======= BASE ======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1, h5, h6 {
  font-weight: var(--h3-font-weight);
}
h1, h2, h3, h4 {
  color: var(--title-color);
}
h2, h3, h4 {
  font-weight: var(--h2-font-weight);
}
h5, h6 {
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.4rem;
}
h6 {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: var(--light-grayish-blue);
  padding: 11px 25px;
  border-radius: 20px;
  background-image: var(--button-color);
  border: none;
  font-weight: var(--h1-font-weight);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  overflow-x: hidden;
  color: var(--body-font);
}

.container {
  // max-width: 968px;
  margin: 0 auto 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*======= HEADER ======= */

header {
  width: 100%;
  position: fixed;
  z-index: 4;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--white);

    .nav__list {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .mobile__menu {
      display: none;
    }
  }
}

@media screen and (max-width: 780px) {
  .header{
    z-index: 4;
    opacity: .95;

    .button__action {
      display: none;
    }

    .mobile__menu {
      display: block !important;
    }

    .nav__list {
      position: absolute;
      right: 0;
      top: 100%;
      width: 90vw;
      height: 100vh;
      background-color: var(--light-grayish-blue);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 300ms ease-in;

      li {
        opacity: 0;
      }

      &.active {
        transform: translateX(0);
      }
    }
  }

  @keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }to {
        opacity: 1;
        transform: translateX(0);
    }
}
}

/*======= HOME ======= */

.home__container {
  grid-template-columns: 30% 70%;
  background-color: var(--very-light-gray);
  padding: 4.5rem 0 2rem 9rem;
  height: 100vh;

  .apresentation {
    text-align: left;
    align-self: center;

    .home__text {
      margin: 2rem 0;
    }
  }

  .home__img__wrapper {
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 150%;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
  }

  .home__img {
    position: absolute;
    width: 55%; //tirar depois ??
    top: -20%;
    right: -10%;
  }
}

@media screen and(max-width: 780px) {
  .home__container {
    height: 90vh;
    gap: 0;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column-reverse;
    padding-bottom: 1vh;
    padding: 0;

    .apresentation {
      text-align: center;

      .button__action {
        padding: 15px 35px;
      }
    }

    .home__img {
      position: initial;
      width: 100%;
      top: 20% !important;
    }
  }
}


/*======= ABOUT ======= */

.about__container {
  background-color: var(--light-grayish-blue);
  gap: 4rem;
  padding: 6rem 10%;

  .about__apresentation {
    max-width: 50%;

    .about__title {
      margin-bottom: 20px;
    }
  }

  .about__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card__icon {
      margin-bottom: 35px;
    }

    .card__title {
      margin-bottom: 25px;
    }
  }
}

/*======= ARTICLES ======= */

.articles__container {
  background-color: var(--very-light-gray);
  padding: 6rem 10%;
  
  
  .articles__title {
    padding-bottom: 3rem;
  }
  
  .articles__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    
    .article__card {
      border-radius: 8px;
      background-color: var(--white);
      
      .article__img__wrapper {
        height: 12rem;
        background-size: cover;
        border-radius: 6px 6px 0 0;
        
        &.one {
          background-image: url(../images/image-currency.jpg);
        }
        &.two {
          background-image: url(../images/image-restaurant.jpg);
        }
        &.three {
          background-image: url(../images/image-plane.jpg);
        }
        &.four {
          background-image: url(../images/image-confetti.jpg);
        }
      }


      .card__body {
        padding: 30px 20px 20px;
        
        .article__title {
          margin: 0.6rem 0;
        }

        .article__writer {
          font-size: 0.6rem;
        }
      }
      
    }
  }

}

/*=======  FOOTER ======= */

.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue);
  padding: 3rem 10%;

  .footer__social {

    .logo {
      margin: 0 1rem 3rem;
    }

    .social__list {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .footer__link {
      color: var(--light-grayish-blue);
      font-weight: var(--h3-font-weight);
    }
  }

  .footer__copy {
    text-align: right;

    .button__action {
      margin-bottom: 2rem;
    }
  }
}

.attribution {
  background-color: var(--dark-blue);
  text-align: center;
  padding: 20px;

  a {
    color: var(--bright-cyan);
    
    &:hover {
      color: var(--lime-green);
    }
  }
}