@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*======= VARIABLES CSS =======*/

// $color: red;

:root {

  /*===== Primary =====*/
  --dark-blue: rgb(45, 49, 77);
  --lime-green: #31d35c;
  --bright-cyan: rgb(43, 183, 218);

  --title-color: rgb(50, 64, 77);
  --button-color: linear-gradient(90deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
  --text-button-color: var(--white);

  /*===== Neutral =====*/
  --text-color-primary: rgb(150, 152, 166);
  --light-grayish-blue: rgb(243, 244, 246);
  --very-light-gray: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);

  /*===== Typography =====*/
  --body-font: 'Public Sans', sans-serif;
  --body-font-size: 18px;

  --h1-font-weight: 700;
  --h2-font-weight: 400;
  --h3-font-weight: 300;
}

/*======= BASE ======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1, h5, h6 {
  font-weight: var(--h3-font-weight);
}
h1, h2, h3, h4 {
  color: var(--title-color);
}
h2, h3, h4 {
  font-weight: var(--h2-font-weight);
}
h5, h6 {
  color: var(--text-color-primary);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.4rem;
}
h6 {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: var(--light-grayish-blue);
  padding: 11px 25px;
  border-radius: 20px;
  background-image: var(--button-color);
  border: none;
  font-weight: var(--h1-font-weight);

  &:hover {
    filter: sepia(0.1) brightness(1.2);
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  overflow-x: hidden;
  color: var(--body-font);
}

.container {
  // max-width: 968px;
  margin: 0 auto 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*======= HEADER ======= */

header {
  width: 100%;
  position: fixed;
  z-index: 4;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: var(--white);

    .nav__list {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      li {
        cursor: pointer;
        padding: 20px 0;
        border-style: solid;
        border-image: var(--button-color) 0% stretch;
        border-image-width: 0 0 4px;

        &:hover {
          border-image: var(--button-color) 4% stretch;
          border-image-width: 0 0 4px;
        }
      }
    }

    .mobile__menu {
      display: none;
    }
  }
}

/*======= HOME ======= */

.home__container {
  grid-template-columns: 30% 70%;
  background-color: var(--very-light-gray);
  padding: 4rem 0 2rem 9rem;
  overflow-x: hidden;
  height: 100vh;

  .apresentation {
    text-align: left;
    align-self: center;

    .home__text {
      margin: 2rem 0;
    }
  }

  .home__img__wrapper {
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: 150%;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
  }

  .home__img {
    position: absolute;
    width: 55%; //tirar depois ??
    top: -20%;
    right: -10%;
  }
}

/*======= ABOUT ======= */

.about__container {
  background-color: var(--light-grayish-blue);
  gap: 4rem;
  padding: 6rem 10%;

  .about__apresentation {
    max-width: 50%;

    .about__title {
      margin-bottom: 20px;
    }
  }

  .about__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .card__icon {
      margin-bottom: 35px;
    }

    .card__title {
      margin-bottom: 25px;
    }
  }
}

/*======= ARTICLES ======= */

.articles__container {
  background-color: var(--very-light-gray);
  padding: 6rem 10%;
  
  
  .articles__title {
    padding-bottom: 3rem;
  }
  
  .articles__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    
    .article__card {
      border-radius: 8px;
      background-color: var(--white);
      
      .article__img__wrapper {
        height: 12rem;
        background-size: cover;
        border-radius: 6px 6px 0 0;
        
        &.one {
          background-image: url(../images/image-currency.jpg);
        }
        &.two {
          background-image: url(../images/image-restaurant.jpg);
        }
        &.three {
          background-image: url(../images/image-plane.jpg);
        }
        &.four {
          background-image: url(../images/image-confetti.jpg);
        }
      }


      .card__body {
        padding: 30px 20px 20px;
        
        .article__title {
          margin: 0.6rem 0;

          &:hover {
            cursor: pointer;
            color: var(--lime-green);
          }
        }

        .article__writer {
          font-size: 0.6rem;
        }
      }
      
    }
  }

}

/*=======  FOOTER ======= */

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--dark-blue);
  padding: 3rem 10%;

  .footer__social {

    .logo {
      margin: 0 1rem 3rem;
    }

    .social__list {
      display: flex;
      justify-content: space-around;

      .social__icon:hover {
        cursor: pointer;
        filter: invert(0) sepia(71%) saturate(7241%) hue-rotate(60deg) brightness(89%) contrast(83%);
      }
    }
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .footer__link {
      color: var(--light-grayish-blue);
      font-weight: var(--h3-font-weight);

      &:hover {
        color: var(--lime-green);
      }
    }
  }

  .footer__copy {
    text-align: right;

    .button__action {
      margin-bottom: 2rem;
    }
  }
}

.attribution {
  background-color: var(--title-color);
  text-align: center;
  padding: 20px;

  a {
    color: var(--bright-cyan);
    
    &:hover {
      color: var(--lime-green);
    }
  }
}

/*=======  FAQ ACCORDION =======*/

.faq {
  background-color: var(--light-grayish-blue);
  padding: 6rem 10%;
  
  .faq__title {
    padding-bottom: 3rem;
    text-align: center;
  }

  .accordion__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
  
    .content__box {
      position: relative;
      margin:10px 20px;
  
      .label {
        position: relative;
        padding: 10px 40px 10px 10px;
        background-image: var(--button-color);
        color: var(--text-button-color);
        cursor: pointer;
  
        &::before {
          content: '+';
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 1.5rem;
        }
      }
  
      .content {
        position: relative;
        background-color: var(--white);
        height: 0;
        overflow: hidden;
        transition: 500ms;
        overflow-y: auto;
      }
  
      &.active {
        .content{
          height: fit-content;
          padding: 10px;
        }
  
        .label::before {
          content: '-';
        }
      }
    }
  }
}



/*============  MEDIA QUERIES ============ */

@media screen and (max-width: 1000px) {
  .footer__container {
    justify-content: space-evenly;

    .footer__copy {
      text-align: center; 
    }
  }
}

@media screen and (max-width: 930px) {
  .about__container {
    .about__cards {
      grid-template-columns: repeat(3, 1fr)
    }
  }

  .articles__container .articles__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 780px) {

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }

  .header{
    z-index: 4;
    opacity: .95;

    .button__action {
      display: none;
    }

    .mobile__menu {
      display: block !important;
    }

    .nav {
      padding: 15px 10%;

      .nav__list {
        position: absolute;
        gap: 0;
        right: 0;
        top: 100%;
        width: 100vw;
        height: 100vh;
        font-size: 1.5rem;
        background-color: var(--light-grayish-blue);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start !important;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
  
        li {
          opacity: 0;
        }
  
        &.active {
          transform: translateX(0);
        }
      }
    }
    
  }

  @keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  .home__container {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column-reverse;
    padding-bottom: 1vh;
    padding: 0;
    text-align: center;
    height: auto;
    overflow: hidden;
  
    .apresentation {
      text-align: center;
      padding: 0 10%;
  
      .button__action {
        padding: 15px 35px;
        margin-bottom: 5rem;
      }
    }

    .home__img__wrapper {
      background-image: url(../images/bg-intro-mobile.svg);
      background-size: cover;

      .home__img {
        width: 90%;
        margin-top: -3rem;
        position: relative;
        padding-bottom: 2rem;
        right: 0;
      }
    }
  
  }

  .about__container {
    .about__cards {
      grid-template-columns: repeat(2, 1fr)
    }
  }

  .articles__container{
    .articles__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  } 
}

@media screen and (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    text-align: center;

    .footer__social .social__list {
      justify-content: space-evenly;
    }

    .footer__links {
      gap: 0.7rem;
    }
  }
}

@media screen and(max-width: 560px){
  .about__container {
    text-align: center;

    .about__apresentation {
      max-width: 100%;
    }
    .about__cards {
      grid-template-columns: repeat(1, 1fr)
    }
  }

  .articles__container{
    .articles__title {
      text-align: center;
    }

    .articles__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  } 
}

