@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/*======= VARIABLES CSS =======*/
:root {
  /*===== Primary =====*/
  --dark-blue: hsl(233, 26%, 24);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --title-color: hls(210, 15%, 15%);
  --button-color: linear-gradient(90deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
  --text-button-color: var(--white);
  /*===== Neutral =====*/
  --text-color: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /*===== Typography =====*/
  --body-font: 'Public Sans', sans-serif;
  --body-font-size: 18px;
  --h1-font-weight: 700;
  --h2-font-weight: 400;
  --h3-font-weight: 300;
}

/*======= BASE ======= */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  color: var(--white);
  padding: 11px 25px;
  border-radius: 20px;
  background-image: var(--button-color);
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  overflow-x: hidden;
  color: var(--body-font);
}

.container {
  max-width: 768px;
  margin: 0 auto 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/*======= HEADER ======= */
header {
  width: 100%;
  position: fixed;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 968px;
  background-color: var(--white);
  padding: 20px;
}

header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .nav .mobile__menu {
  display: none;
}

@media screen and (max-width: 780px) {
  .header {
    z-index: 4;
    opacity: .95;
  }
  .header .button__action {
    display: none;
  }
  .header .mobile__menu {
    display: block !important;
  }
  .header .nav__list {
    position: absolute;
    right: 0;
    top: 100%;
    width: 90vw;
    height: 100vh;
    background-color: var(--light-grayish-blue);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }
  .header .nav__list li {
    opacity: 0;
  }
  .header .nav__list.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  @-webkit-keyframes navLinksFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

/*======= HOME ======= */
/*# sourceMappingURL=style.css.map */